:root {
    --base-color: #183856; /* Blue */
    --header-text-color: #fff; /* White */
    --nav-text-color: #ebedf0; /* Darker shade for navigation text */
    --nav-hover-scale: 1.1;
    --nav-shadow-size: 2px;
    --content-heading-color: #fff; /* Darker shade for section headings */
    --content-paragraph-color: #fff; /* Even darker shade for section paragraphs */
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--base-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3dc4fe; /* Darker shade of base color */
    padding: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.content-section {
    margin-top: 20px;
    padding: 20px;
    color: var(--content-heading-color);
    color: #183856; /* Darker shade of base color */


}

.content-section:hover {
    background-color:#183856; /* Lighter shade of base color */
    color: #fff; /* Darker shade of base color */
    transition: all 0.3s ease;
    padding: 30px;
}

footer {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ddd; /* Lighter shade of base color */
    padding-top: 20px;
    color: #183856; /* Darker shade of base color */  
}